<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parker.util.dao.DownloadTaskDAO">
    <resultMap id="downloadTask" type="com.parker.util.entity.DownloadTask">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="url" property="url" jdbcType="VARCHAR"></result>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"></result>
        <result column="file_size" property="fileSize" jdbcType="BIGINT"></result>
        <result column="saved_file_size" property="savedFileSize" jdbcType="BIGINT"></result>
        <result column="description" property="description" jdbcType="VARCHAR"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
        <result column="current_speed" property="currentSpeed" jdbcType="BIGINT"></result>
        <result column="avg_speed" property="avgSpeed" jdbcType="BIGINT"></result>
        <result column="max_speed" property="maxSpeed" jdbcType="BIGINT"></result>
        <result column="start_time" property="startTime" jdbcType="DATE"></result>
        <result column="end_time" property="endTime" jdbcType="DATE"></result>
        <result column="remaining_time" property="remainingTime" jdbcType="BIGINT"></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>
    </resultMap>
    
    <insert id="addDownloadTask" parameterType="com.parker.util.entity.DownloadTask" useGeneratedKeys="true" keyProperty="id">
        insert into download_task
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="url != null">
                url,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="url != null">
                #{url},
            </if>
            <if test="fileName != null">
                #{fileName},
            </if>
            <if test="fileSize != null">
                #{fileSize},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="remark != null">
                #{remark}
            </if>
        </trim>
    </insert>
    <update id="updateDownloadTask" parameterType="com.parker.util.entity.DownloadTask">
        update download_task
        <trim prefix="set" suffixOverrides=",">
            <if test="fileName != null">
                file_name=#{fileName},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="savedFileSize != null">
                saved_file_size=#{savedFileSize},
            </if>
            <if test="remainingTime != null">
                remaining_time=#{remainingTime},
            </if>
            <if test="currentSpeed != null">
                current_speed=#{currentSpeed},
            </if>
            <if test="avgSpeed != null">
                avg_speed=#{avgSpeed},
            </if>
            <if test="maxSpeed != null">
                max_speed=#{maxSpeed},
            </if>
            <if test="startTime != null">
                start_time=#{startTime},
            </if>
            <if test="endTime != null">
                end_time=#{endTime},
            </if>
            <if test="remark != null">
                remark=#{remark},
            </if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateDownloadTaskStatus">
        update download_task set status = #{status} where id = #{id}
    </update>
    <delete id="deleteDownloadTask">
        delete from download_task where id = #{id}
    </delete>
    <select id="getDownloadTaskById"  resultMap="downloadTask">
        select * from download_task where id = #{id}
    </select>
</mapper>